@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 } 
 .button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgb(49, 138, 173);
    margin: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animated-image {
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .animated-image:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  
  .container-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense;
    grid-gap: 23px;
    justify-content: center;
 }
  .card-top, .card-right, .card-bottom, .card-left {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    background-color: rgba(252, 141, 6, 0.342);
    border-radius: 95.2380952381px;
    box-shadow: 0px 3px 9px 1px rgba(100, 18, 2, 0.237);
 }
  .card-top {
    flex-direction: column;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
 }
  .card-right {
    flex-direction: row-reverse;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
 }
  .card-bottom {
    flex-direction: column-reverse;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
 }
  .card-left {
    flex-direction: row;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
 }
  .card-image {
    display: flex;
 }
  .card-top .card-image, .card-bottom .card-image {
    height: 50%;
    width: 100%;
 }
  .card-left .card-image, .card-right .card-image {
    height: 100%;
    width: 50%;
 }
  .card-image img {
    width: 100%;
    object-fit: cover;
 }
  .card-top img {
    border-radius: 95.2380952381px 95.2380952381px 0 0;
 }
  .card-right img {
    border-radius: 0 95.2380952381px 95.2380952381px 0;
 }
  .card-bottom img {
    border-radius: 0 0 95.2380952381px 95.2380952381px;
 }
  .card-left img {
    border-radius: 95.2380952381px 0 0 95.2380952381px;
 }
  .card-text {
    align-self: center;
    padding: 23px;
 }
  .card-top .card-text {
    height: auto;
    width: auto;
    padding-bottom: 36.8px;
 }
  .card-right .card-text {
    height: auto;
    width: 50%;
    padding-left: 36.8px;
 }
  .card-bottom .card-text {
    height: auto;
    width: auto;
    padding-top: 36.8px;
 }
  .card-left .card-text {
    height: auto;
    width: 50%;
    padding-right: 36.8px;
 }
  .card-text p {
    margin: 0;
    line-height: 1.35em;
    color: rgb(2, 6, 10);
 }
  @media (max-width: 500px) {
    .card-top {
      flex-direction: row;
      grid-column: auto / span 2;
      grid-row: auto / span 1;
   }
    .card-bottom {
      flex-direction: row-reverse;
      grid-column: auto / span 2;
      grid-row: auto / span 1;
   }
    .card-top .card-image, .card-bottom .card-image {
      height: 100%;
      width: 50%;
   }
    .card-top img {
      border-radius: 95.2380952381px 0 0 95.2380952381px;
   }
    .card-bottom img {
      border-radius: 0 95.2380952381px 95.2380952381px 0;
   }
    .card-top .card-text {
      height: auto;
      width: 50%;
      padding-right: 36.8px;
   }
    .card-bottom .card-text {
      height: auto;
      width: 50%;
      padding-left: 36.8px;
   }
 }
  @media (max-width: 400px) {
    .card-image {
      width: 38% !important;
   }
    .card-text {
      width: 62% !important;
   }
 }
  

.cards {
  width: 290px;
  height: 354px;
  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

#c1 {
  background-color: black;
}

#c2 {
  background-color: blue;
}

#c3 {
  background-color: red;
}

#c4 {
  background-color: green;
}
/* menu item */
.menu-item {
  transition: transform 0.3s;
}
.menu-item:hover {
  transform: rotate(10deg);
}

.main-card:hover #c1 {
  transform: translateX(-100px) rotate(-40deg);
}

.main-card:hover #c2 {
  transform: translateX(-50px) rotate(-30deg);
}

.main-card:hover #c3 {
  transform: translateX(0) rotate(-20deg);
}

.main-card:hover #c4 {
  transform: translateX(50px) rotate(-10deg);
}

#c1:hover {
  transform: translateX(-150px) rotate(0deg) !important;
}

#c2:hover {
  transform: translateX(-100px) rotate(0deg) !important;
}

#c3:hover {
  transform: translateX(-50px) rotate(0deg) !important;
}

#c4:hover {
  transform: translateX(50px) rotate(0deg) !important;
}

.main-card {
  display: flex;
  height: 500px;
  justify-content: end;
  align-items: center;
  margin-right: 200px;
  
}